@import "./../utils/settings";
.header {
  position: relative;
  z-index: 10;
  top: -20px;
  padding: 0px 110px;
}

.menuLink {
  display: block !important;
  color: $white !important;
  padding: 0px 30px !important;
  &:hover {
    color: $primary-color !important;
  };
}
