@import "./../utils/settings";
@import "./../utils/mixins";
.hero {
  display: block;
  background: url("../../../public/images/hero-bg.png") no-repeat center center;
  -webkit-background-size: cover;
  background-size: cover;
  width: 100%;
  max-width: 100%;
  position: relative;
  z-index: 0;
  top: -58px;
  padding: 200px 110px;
  &__content {
    position: relative;
    top: 140px
  }
  h1 {
    font-size: $rubik-font;
    font-weight: 700;
    color:$white;
    font-size: 72px;
  }
}

