/* COLOR */
// Primary Colour
$primary-color: #69B99D;
$secondary-color: #C7F4E4;
$background-green: #F5FFFA;
$white: #FFFFFF;
$bg-color: #FEFEFF;
$ligth-bg-color: #F5F5F5;

// Gray Scale
$gray-first-color: #BDBDBD;
$gray-second-color: #F8F9FE;
$gray-third-color: #F2F2F2;
$text-gray: #73788C;

// Text Scale
$text-first-color: #1E3240;
$text-second-color: #054457;
$text-third-color: #F2F2F2;

// Fonts
$poppins-font: 'Poppins', sans-serif;
$rubik-font: 'Rubik', sans-serif;
